name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: |
          go mod download
          go build -o dns-server server/main.go
          go build -o dns-client client/main.go

      - name: Test
        run: |
          ./dns-server &
          sleep 1
          ./dns-client --dmain "domain.xyz"
